<div class="column ">
	<nav class="panel has-text-centered">
		<p class="panel-heading">Modes</p>
	</nav>
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<span class="icon has-text-success">
					<i class="fas fa-circle"></i>
				</span>
			</div>
			<div class="media-content">
				<div class="content">
					<p>Business Time</p>
				</div>
			</div>
		</article>
	</div>
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<span class="icon has-text-warning">
					<i class="fas fa-circle"></i>
				</span>
			</div>
			<div class="media-content">
				<div class="content">
					<p>Business Overtime</p>
				</div>
			</div>
		</article>
	</div>
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<span class="icon has-text-danger">
					<i class="fas fa-circle"></i>
				</span>
			</div>
			<div class="media-content">
				<div class="content">
					<p>Personal Time</p>
				</div>
			</div>
		</article>
	</div>
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<span class="icon">
					<i class="fas fa-moon"></i>
				</span>
			</div>
			<div class="media-content">
				<div class="content">
					<p>Sleep Time</p>
				</div>
			</div>
		</article>
	</div>
</div>