<div class="column">
	<nav class="panel has-text-centered">
		<p class="panel-heading">Colour Theme</p>
	</nav>
	<div class="panel-block">
		<div class="buttons has-addons is-centered">
		  <button class="button">Black</button>
		  <button class="button">Granite</button>
		  <button class="button">White</button>
		</div>
	</div>
	<div class="panel-block">
		<label class="checkbox">
  			<input type="checkbox">
  			24 Hour Clock
		</label>
	</div>
</div>