<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Clock+
      </h1>
      <h2 class="subtitle">
        Clock+ built by Casey Coulter, s3668759@student.rmit.edu.au, Distinction, Friday 4:30 PM
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="contrainer">
    <div class="columns">
      <!-- Render the partials here -->
      <%= render 'left_panel' %>
      <%= render 'main_panel' %>
      <%= render 'right_panel' %>
    </div>
  </div>
</section>